<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <style>
        table {
            counter-reset: tableCount;     
        }
        .counterCell:before {              
            content: counter(tableCount); 
            counter-increment: tableCount; 
        }
    </style>
    

    <title>Participant List</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% include 'navbar.html' %}


    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Age</th>
            <th scope="col">Sex</th>
            <th scope="col">Temperature</th>
            <th scope="col">Assessment Date</th>
            <th scope="col">Assessment Score</th>
            <th scope="col">COVID-19 Result</th>
          </tr>
        </thead>
        <tbody>
            
            {% for participant in participant_list %}

          <tr>
            <td class="counterCell"></th>
            <td >{{participant.age}}</td>
            <td >{{participant.sex}}</td>
            <td >{{participant.temp}}</td>
            <td>{{participant.date}}</td>
            <td>{{participant.score}}</td>
            <td>{{participant.result}}</td>
          </tr>
            
            {% endfor %}
            
          
        </tbody>
      </table>


    <div class="text-white">
        {% include 'footer.html' %}
    </div>
    
    


</body>
</html>